body{
    color: rgb(182, 179, 179);
    background-image:url(./images/background.jpg);
}

.main_page .name_div{
    width: 100%;
    padding-top: 20%;
}

.main_page .contact_div{
    display: flex; 
    width: 100%;
}

.main_page .contact_logo_div{
    display: flex;
    width: 30%;
    padding: 0 30% 0 36%;
}
.name_div #my_name{
    display: block;
    font-size: 5em;
    width: 100%;
    text-align: center;
}

.contact_div #main_page_contact{
    padding-top: 10%;
    font-size: 2em;
    width: 100%;
    display: block;
    text-align: center;
}

.contact_logo_div .contact_logo{
    margin: 0 8% 0 0;
    width: 100%;
    text-align: center;
}

.contact_logo #contact_img{
    padding-top: 20%;
    display: inline;
    width: 80%;
    transition: ease-in-out .5s;
}

.contact_logo #contact_img:hover{
    transform: scale(1.2);
}


.navigation_panel #main_page_button{
    color:rgb(177, 90, 9);
    outline:none;
    transform: scale(1.1);
    padding: 1% 1.5% 1% 1.5%;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: rgb(175, 174, 174);
}