body{
    color:rgb(207, 196, 196);
    margin:0;
    width: 100%;
    font-size: 1.1em;
    font-size: 1.1vw;
    background-color: rgb(66, 64, 64);
    background-attachment:fixed;
    background-image:url(./images/background.jpg);
    /* background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80); */
    font-family: Arial, Helvetica, sans-serif ;
}

.body .navigation{
    width:100%;
}

.navigation .navigation_panel{
    position:fixed;
    width: 100%;
    color:rgb(207, 196, 196);
}


.navigation .navigation_panel .flex_navigation_plane{
    display:flex;
    width:100%;
    align-items: center;
    padding: .5rem 1rem;
    justify-content: left;
    /* background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80); ; */
    background: linear-gradient(to right, #000000 20%,#141414);

}

.navigation_panel .navi{
    text-align: center;
    margin: .5%;
    color: rgb(182, 179, 179);
    transition: .5s ease-in;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 20%;
    text-decoration:none;
}

.navigation_panel .profile_pic{
    transition: .5s ease-in-out;
    border-radius: 50%;
    text-decoration:none;
    transition: .5s ease-in-out;
}

.navigation_panel .pic{
    border-radius: 50%;
    width: 4%;
    align-self: center;
    margin-right: 50%;
}

html {
    scroll-behavior: smooth;
}

.navigation_panel .navi:after{
    outline: none;
}
.navigation_panel #name{
    font-size: 1.5vw;
    margin: 0 25% 0 10%;
}

.navi:hover{
    transform:scale(1.1);
    color:rgb(177, 90, 9);
    border-color: rgb(175, 174, 174);
}

.navi:after{
    content: '';
    display: block;
    height: 0.01vw;
    width: 0;
    background: transparent;
    transition: width 1s ease, background-color .5s ease;
}

.navi:hover:after{
    width: 100%;
    background:rgb(177, 90, 9);
    transition: width 0.6s ease, background-color .5s ease;
}
