body{
    margin:0;
    width: 100%;
    font-size: 1.1em;
    font-size: 1.1vw;
    background-color: rgb(66, 64, 64);
    background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    font-family: sans-serif ;
}

.body .navigation{
    width:100%;
}

.navigation .navigation_panel{
    position:fixed;
    width: 100%;
    color: rgb(182, 179, 179);
}


.navigation .navigation_panel .flex_navigation_plane{
    display:flex;
    width:100%;
    align-items: center;
    padding: .5rem 1rem;
    justify-content: flex-start;
    background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80); ;
}

.navigation_panel .navi{
    text-align: center;
    margin: .5%;
    color: rgb(182, 179, 179);
    transition: .5s ease-in;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 20%;
    text-decoration:none;
    /* box-shadow: 0.05vw 0.05vw 0.08vw 0.08vw #888888; */
}

.navigation_panel .profile_pic{
    margin: 0 15% 0 1%;
    background-color: gray;
    transition: .5s ease-in-out;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 50%;
    text-decoration:none;
    transition: .5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.navigation_panel .profile_pic:hover{
    transform: scale(1.1);
}

.navigation_panel .navi:after{
    outline: none;
}
.navigation_panel #name{
    font-size: 1.5vw;
    margin: 0 15% 0 10%;
}

.navi:hover{
    transform:scale(1.1);
    color:rgb(177, 90, 9);
    /* text-shadow: 0.05vw 0.05vw rgb(7, 0, 0); */
    /* border: 0.05vw solid; */
    border-color: rgb(175, 174, 174);
}

.navi:after{
    content: '';
    display: block;
    height: 0.01vw;
    width: 0;
    background: transparent;
    transition: width 1s ease, background-color .5s ease;
}

.navi:hover:after{
    width: 100%;
    background:rgb(177, 90, 9);
    transition: width 0.6s ease, background-color .5s ease;
}
